.main__btm {
  //   display: flex;
  // justify-content: center;
  // margin-bottom: 50px;
  @media screen and (min-width: 320px) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  @media screen and (min-width: 480px) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    // margin-left: auto;
    // margin-right: auto;
  }
}
.main__btm--title {
  cursor: pointer;
  font-family: inherit;
  border-style: none;
  border-radius: 4px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--main-btm-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background-color: var(--index-hero-btm);
  background-color: rgba(245, 244, 250, 1);
  &:focus {
    color: var(--second-accent-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &:hover {
    color: var(--second-accent-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
// .main__btm--text:not(:last-child) {
//     margin-right: 8px;
// }
@media screen and (min-width: 320px) {
  .main__btm--text {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 480px) {
  .main__btm--text {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .main__btm--text {
    margin-right: 8px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .main__btm--text {
    display: flex;
    justify-content: center;
    margin-right: 8px;
    margin-bottom: 0;
  }
}
.main__title--text {
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin-left: -30px;
  //   margin-bottom: -30px;
  @media screen and (min-width: 320px) {
    width: 100%;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: -30px;
    margin-right: 0;
  }
}
.main__jpg {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 320px) {
    width: 100%;
    margin-bottom: 30px;
    margin-top: 40px;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  @media screen and (min-width: 768px) {
    &:nth-child(2n) {
      margin-left: 30px;
    }
    width: 738px;
    flex-basis: calc(100% / 2 - 30px);
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 1170px;
    flex-basis: calc(100% / 3 - 30px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 30px;
    margin-top: 0;
    &:nth-child(3n + 1) {
      margin-left: 0;
    }
  }
}
.main__after--scroll {
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 320px) {
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    width: 355px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: 368px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 100%;
  }
}
.main__scroll {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  height: 100%;
  transform: translateY(101%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  .main__jpg:hover & {
    transform: translate(0%);
  }
}
.main__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
  flex-wrap: wrap;
}
.main__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-item-text);
}
.main__after--title {
  padding: 20px 0 20px 24px;
}
