:root {
    --body-text-color: #212121;
    --header-title-color: #212121;
    --contacts-text-color: #757575;
    --main-btm-color: #212121;
    --main-text-color: #212121;
    --main-item-text: #757575;
    --footer-text-color: #fff;
    --first-btm-color: #2196f3;
    --second-btm-color: #000000;
    --accent-color: #2196f3;
    --second-accent-color: #fff;
    --first-footer-btm: #2196f3;
    --second-footer-btm: #fff;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --index-hero-text: rgba(255, 255, 255, 1);
    --index-hero-btm: #ffffff;
    --index-main-about-text: #212121;
    --index-main-pre-text: #757575;
    --index-gallery-text: #212121;
    --index-pre-title: #212121;
    --index-after-title: #212121;
    --index-title-link: #757575;
}
